@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
/* Обнуление стилей*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Lato";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 0px;
  background: rgba(255, 255, 255, 0);
}

/*----------------*/
body {
  color: #4d4959;
}

body.lock {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1130px;
  padding: 0px 15px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 35px;
  width: 100%;
  z-index: 20;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  z-index: 3;
}

@media (max-width: 767px) {
  .header {
    top: 10px;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  position: relative;
  padding: 0px 37.5px;
}

.menu__list li:nth-child(2) {
  padding: 0px 110px 0px 37.5px;
}

.menu__list li:nth-child(3) {
  padding: 0px 37.5px 0px 110px;
}

.menu__list li::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #4d4959;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 0;
  top: 50%;
  margin: -2px 0px 0px 0px;
}

.menu__list li:nth-child(2)::after, .menu__list li:last-child::after {
  display: none;
}

.menu__link {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #4d4959;
}

@media (max-width: 767px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #4d4959;
    top: 0;
    left: 0;
    padding: 115px 0px 25px 0px;
    overflow: auto;
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
    -webkit-transition: 1s;
    transition: 1s;
  }
  .menu__body.active {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__list li {
    padding: 25px 0px !important;
  }
  .menu__list li:last-child {
    padding: 0;
  }
  .menu__list li::after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    right: 50%;
    top: 100%;
    margin: -2px 0px 0px 0px;
  }
  .menu__list li:nth-child(2)::after {
    display: block;
  }
  .menu__link {
    color: #fff;
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .icon-menu {
    position: absolute;
    top: 27.5px;
    right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #4d4959;
    overflow: hidden;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .icon-menu span {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 5.5%;
            flex: 0 0 5.5%;
    margin: 10% 0px;
    width: 60%;
    background-color: #000;
  }
  .icon-menu span:nth-child(2) {
    margin: 1px;
  }
  .icon-menu.active {
    background-color: #7aafce;
    color: #fff;
  }
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
  background: url("../img/main_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
