@mixin bg-circl($size, $color) {
    width: $size;
    height: $size;
    border-radius: 50%;
    background:  $color;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}