//Миксины
@import "_mixin.scss";
//-------------------------------
//Шрифты
//-----Подключение шрифтов------------------------------------------------------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
//-------------------------------------------------------------------------------------------------------------------------------------
//-----Шрифт по умолчанию
$fontFamily: "Lato";
//------------------------------------------------------------------------------------------------------------------------------------------
//---------------------------------------------------------------------------------------------------------------------------------------------
//Переменные--------------------------------------------------------------------------------------------------------------------------------
$minWidth: 320px;
//---------------------------------------------------------------------------------------------------------------------------------------
//Обнуляющие стили и общие стили---------------------------------------------------------------------------------------------------------------
@import "_nullStyle.scss";
body{
   color: #4d4959;
}
//----------------------------------------------------------------------------------------------------------------------------------------------
//Оболочка
.wrapper{
    overflow: hidden;
    min-height: 100%;
}
//-------------------------------------------------------------------------------------------------------------------------------------------
//Основная сетка------------------------------------------------------------------------------------------------------------------------------
.container{
    max-width: 1130px;
    padding: 0px 15px;
    margin: 0 auto;
}
//-------------------------------------------------------------------------------------------------------------------------------------------
//Подключение файлов стилей для страниц и элементов-------------------------------------------------------------------------------
@import "_header.scss";
@import "_footer.scss";
//--------------------------------------------------------------------------------------------------------------------------
//Основные стили------------------
.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}
.main-screen {
    flex: 1 0 100%;
    position: relative;    
    background: url("../img/main_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content {
}
